*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #108775;
}

:root {
  background: #f3fafafa;
  font-size: 62.5%;
}

p {
  font-size: 1.8rem;
  line-height: 1.3;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.8rem;
}

h6 {
  font-size: 1.8rem;
}

/* Utility classes */

.card {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-input {
  width: 80%;
  padding: 10px;
  border-radius: 30px;
  border: 1px solid black;
}

.w-100 {
  width: 100%;
}

.mb-10 {
  margin-bottom: 10px;
}

.button-dark {
  background-color: #333;
  color: white;
  padding: 10px 25px;
  border-radius: 30px;
  border: 1px solid #333;
}

.button-dark:hover,
.button-red:hover {
  background-color: white;
  color: black;
}

.button-red {
  background-color: #8b0000;
  color: white;
  padding: 10px 25px;
  border-radius: 30px;
  border: 1px solid #8b0000;
}

.mt-20 {
  margin-top: 20px;
}

.white {
  color: white;
}
